<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.agendax"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgendaX">
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6217843088591566~1747380722" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AgendaX.NoActionBar">

        </activity>

        <service
            android:name=".services.DailyService"
            android:enabled="true" />

        <service android:name=".widget.TaskListRemoteService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".services.TtsService"
            android:enabled="true" />

        <receiver
            android:name=".broadcasts.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".broadcasts.DailyReceiver"
            android:enabled="true"
            android:exported="true" >

        </receiver>

        <receiver
            android:name=".broadcasts.CompletedReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".widget.TaskListWidgetProvider" android:label="@string/task_list_widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/list_widget" />
        </receiver>

    </application>

</manifest>